:root{
    --main-font: "Roboto",sans-serif;
    --secondary-font: "Raleway",sans-serif;
    --main-color: #212121;
    --link-color:  #757575;
    --accent-color: #2196F3; 
    --primary-color: #FFFFFF;
    --secondary-color: #F5F4FA;
    --shadow-color: rgba(255, 255, 255, 0.6);
      }
    body {
      font-family: var(--main-font);  
    font-style: normal;}
    
    .list {
     list-style: none;   }
    
    .link {
      text-decoration: none; }
    .address {
        font-style: normal;}
    
    /*header*/
    
    .navigation-list-link,
    .address-light-theme-mail,
    .address-light-theme-tel
     {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }
    
    .navigation-list-link {
              
        color: var(--main-color);      
    }
    .logo,
    .logo-footer
    {
        font-family: var(--secondary-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--accent-color);
    }
    .logo-light-theme {
        color: var(--main-color);
    }
    
    .address-light-theme-mail,
    .address-light-theme-tel
    
    {
        color: var(--link-color);
    }
    
    .navigation-list-link:hover,
    .navigation-list-link:focus,
    .address-light-theme-mail:hover,
    .address-light-theme-mail:focus,
    .address-light-theme-tel:hover,
    .address-light-theme-tel:focus
     {
        color: var(--accent-color);
    }
    /*end header*/

   /*button*/
  .button { 
    font-weight: 700;
    font-size: 16px;
     line-height: 1.87;      
        letter-spacing: 0.06em;

        color: var(--primary-color);
        background-color: var(--accent-color);} 
/*end button*/

 
    /*hero*/
    .title{        
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--primary-color);
  background-color: var(--main-color);}
/*end hero*/

/*advantages*/
.mini-subtitle{
    
font-weight: 700;
font-size: 14px;
line-height: 1.14x;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--main-color);

}
.advantages-description{
   
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--link-color);

}
/* end advantages*/  

/*examples*/
.subtitle{
   
font-weight: 700;
font-size: 36px;
line-height: 1.17px;
letter-spacing: 0.03em;
color: var(--main-color);
}
/*end examples*/

/*team*/
.team-subtitle{
   
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17px;
    letter-spacing: 0.03em;
    color: var(--main-color);}

    .team-mini-subtitle{
       
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--main-color);
    }
    .team-description{
       
font-weight: 400;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--link-color); }
    /* end team*/

    /*footer*/
   

 .logo-footer {
  background-color: var(--main-color);}  
        
  .logo-dark-theme {
    color: var(--primary-color);
    background-color: var(--main-color); 
}

.address-dark-theme-mail,
.address-dark-theme-tel,
.address-dark-theme-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address-dark-theme-item {
color: var(--primary-color);
background-color: var(--main-color);}

.address-dark-theme-mail,
.address-dark-theme-tel {
  color: var(--shadow-color);
  background-color: var(--main-color);
}
/*footer*/
  